.user{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    
    margin-top: 50px;
    text-align: left;
    background-color: aliceblue;
}

.user-input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.user-label{
    margin-left: 500px;
    margin-right: 500px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.user-button{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
    background-color: green;
    margin-top: 20px;
    margin-left: 580px;
}